---
---

@import "main";
@import "highlights/github.css";

.highlight pre  {
  border-radius: 0.375rem;
  background-color: #404040;
  color: #e3e3e3


}

.highlight .hll {
  background-color: #9a9a9a;
  color: #e3e3e3
}


#tboc {
  position: sticky;
  top: 70px;
}



