---
layout: default
---

<div class="theme-doc-layout row g-4">
    <aside class="theme-doc-sidebar col-12 col-md-4 col-xl-3">
        <div id="tboc" class="theme-filter-panel theme-doc-toc">
            <h5 class="theme-doc-toc-title">Table of Contents</h5>
            <ul class="list-group-numbered gy-2 mb-0">
                {% for header in page.toc %}

                {% assign my_array = header | replace: ", ", "," %}

                {% assign my_array2 = my_array | split: "," %}

                {% if my_array2.size > 1 %}
                <li class="list-group-item">
                    <a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                        href="#{{ header2 | downcase | replace: ' ', '-' | replace: ':', '' }}">{{ my_array2[0] }}</a>
                    <ul class="gy-5">
                        {% for header2 in my_array2 %}
                            {% if header2 != my_array2[0] %}
                                <li class=""><a
                                        class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                                        href="#{{ header2 | downcase | replace: ' ', '-' | replace: ':', '' }}">{{ header2 }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="list-group-item"><a
                        class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                        href="#{{ header | downcase | replace: ' ', '-' | replace: ':', '' }}">{{ header }}</a></li>
                {% endif %}

                {% else %}
                The Table of Contents is empty.
                {% endfor %}
            </ul>
        </div>
    </aside>
    <main id="main-container" class="theme-doc-main col-12 col-md-8 col-xl-9">
        <article class="theme-article theme-page-content document">
            <div class="theme-article-meta">
                <span>{{ page.date | date: "%b %d, %Y" }}</span>
                {% assign author = site.authors | where: 'short_name', page.author | first %}
                {% if author %}
                <span>·</span><a href="{{ author.url }}">{{ author.name }}</a>
                {% endif %}
            </div>
            <h1 class="theme-article-title">{{ page.title }}</h1>
            {% if page.description %}
            <p class="theme-article-subtitle">{{ page.description }}</p>
            {% endif %}
            {{ content }}
        </article>
    </main>
</div>
